<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color:blue;">
    <h1>Message from <%= message.user %></h1>
    <p>"<%= message.text %>"</p>
    <p>Sent on: <%= message.added %></p>
    <a href="/">Back to Board</a>
</body>
</html>